.a{
    margin-left: 25px;
}

.bl1{
    
    width: 100%;
    height: 500px;
    display: flex;
}
.gr1{
    height: 100%;
    width: 40%;
    margin-left: 25px;
}
.icon{
    width: 100%;
    height: 50px;
    display: flex;
}